html {
  background-color: var(--main-bg-color);
}

body {
  background: radial-gradient(
    circle farthest-corner at top left,
    #006466 0%,
    #212f45 16%,
    var(--main-bg-color) 38%
  );
  color: var(--main-text-color);
}

.filler {
  height: 300px;
}

:root {
  --main-bg-color: #0d0d0e;
  --main-text-color: #fff;

  --color-blue-1: #1b3a4b;
  --color-green-1: #006466;
  --color-purple-1: #4d194d;
  --color-grey-1: #464646;

  --text-size-title: 48px;
  --text-size-subtitle: 24px;
  --text-size-content: 16px;
}
